:root {
    --ion-color-primary: #f8b6c1; /* Soft Pink */
    --ion-color-secondary: #aed6f1; /* Baby Blue */
    --ion-color-tertiary: #ffffff; /* White */
    --ion-color-danger: #e57373; /* Light Red */
    --ion-color-light: #f5f5f5; /* Very Light Grey */
  }
  