ion-header {
  background-color: #aed6f1; /* Baby blue color */
}

ion-title {
  color: #fff; /* White color */
}

ion-content {
  ion-item {
    --background: #f5f5f5;
    margin-bottom: 10px;
  }

  ion-button {
    margin-top: 20px;
  }
}
