<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Product List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Inputs to add a new product -->
  <ion-item>
    <ion-label>Product Name</ion-label>
    <ion-input [(ngModel)]="newProduct.name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Product Type</ion-label>
    <ion-input [(ngModel)]="newProduct.type"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Expiration Date</ion-label>
    <ion-datetime [(ngModel)]="newProduct.expiryDate" display-format="MM/DD/YYYY"></ion-datetime>
  </ion-item>

  <!-- Button to add the product -->
  <ion-button expand="full" color="primary" (click)="addProduct()">Add Product</ion-button>

  <!-- List of products -->
  <ion-list>
    <ion-item *ngFor="let product of products">
      {{ product.name }} - {{ product.type }} - {{ product.expiryDate }}
      <ion-button slot="end" color="danger" (click)="removeProduct(product)">Remove</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
